<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, dolores. Doloremque explicabo sed voluptatem ut
        consequatur. In aperiam earum recusandae vitae repellat, illo eos saepe reprehenderit corrupti perspiciatis? A
        similique natus consectetur ad. Expedita.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam et quasi esse nihil! Placeat pariatur earum
        debitis labore iste? Molestiae nostrum aliquam illo aperiam animi reprehenderit minima nobis delectus repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur, veritatis ad architecto veniam magni
        fugiat deserunt doloremque, sapiente inventore placeat laborum sint. Ipsa dignissimos consequatur placeat atque
        nostrum et velit.
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, dolores. Doloremque explicabo sed voluptatem ut
        consequatur. In aperiam earum recusandae vitae repellat, illo eos saepe reprehenderit corrupti perspiciatis? A
        similique natus consectetur ad. Expedita.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam et quasi esse nihil! Placeat pariatur earum
        debitis labore iste? Molestiae nostrum aliquam illo aperiam animi reprehenderit minima nobis delectus repellat!
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam et quasi esse nihil! Placeat pariatur earum
        debitis labore iste? Molestiae nostrum aliquam illo aperiam animi reprehenderit minima nobis delectus repellat!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur, veritatis ad architecto veniam magni
        fugiat deserunt doloremque, sapiente inventore placeat laborum sint. Ipsa dignissimos consequatur placeat atque
        nostrum et velit.
    </p>
</div>